<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

   <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

   <meta name="author" content="{{ site.name }}" />
   <meta name="description" content="{{ site.description }}">

   <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/jquery.tocify.css" />
   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
   {% include analytics.html %}
</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only"> Toggle navigation</span>
               <span class="icon-bar">
               </span> <span class="icon-bar">
               </span> <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{site.name}}</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               {% for item in site.menu %}
                  {% if item.submenus != null %}
               <li class="dropdown {% for subitem in item.submenus %}{% if subitem.url == page.url %}active{% endif %}{% endfor %}">
                     <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                  {{item.title}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     {% for subitem in item.submenus %}
                     <li class="{% if page.url == subitem.url %}active{% endif %}">
                        <a href="{{ site.baseurl }}{{ subitem.url }}">{{ subitem.title}}</a>
                     </li>
                     {% endfor %}
                  </ul>
               </li>
               {% else %}
                  <li class="{% if page.url == item.url %}active{% endif %}">
                     <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title}}</a>
                  </li>
               {% endif %}
               {% endfor %}
            </ul>
         </div><!-- /.navbar-collapse -->
      </div>
   </nav>

   {% if page.layout == "iframe" %}
      {{ content }}
   {% else %}
      {% if page.title %}
      <div class="doc-header bg-danger">
         <div class="container">
            <h1 class="title">{{ page.title }}</h1>
            {% if page.lead %}
               <p>{{ page.lead }}</p>
            {% endif %}
         </div>
      </div>
      {% endif %}

      <div class="row margin-top-10">
         <div class="container">
            <div class="{% if page.toc %}col-md-9{% endif %}" role="main">
               {{ content }}
            </div>
            {% if page.toc %}
            <div class="col-md-3" role="complementary">
               <nav id="toc"></nav>
            </div>
            {% endif %}
         </div>
      </div>

   {% endif %}

   <script src="{{ site.baseurl }}/js/jquery-1.11.2.min.js"></script>
   <script src="{{ site.baseurl }}/js/jquery-ui-1.9.1.custom.min.js"></script>
   <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
   {% if page.toc %}
      <script src="{{ site.baseurl }}/js/jquery.tocify.min.js"></script>
   <script language="javascript">
   $(function () {
      $('#toc').tocify({
         'selectors': 'h1,h2,h3',
         'container': 'article.page',
         scrollTo: 70,
         highlightOffset: 0,
         extendPage: false,
         ignoreSelector: 'h1.title'
      });
   });
   </script>
   {% endif %}
   {% include analytics.html %}
</body>
</html>
